.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: auto;
  margin-left: 5%;
  margin-right: 0;
  font-size: 14px;
  margin-top: 60px;
  background-color: rgb(233, 235, 238);
}

.col-sm-2{
  padding: 0;
}

.col-sm-3{
  margin-left: 15px;
}

.col-sm-5{
  padding: 0;
}

.col-sm-6{
  padding: 0;
}

li {
  list-style: none;
}

.navbar-nav {
  width: 100%;
}

.bg-light {
  background-color: rgba(52, 81, 163, .9)!important;
  height: 42px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
  font-family: Helvetica;
  font-weight: 600;
}

.ul .navbar-nav {
  margin: auto;
}

#navbarRight {
  margin-right: 0;
  margin-left: 3%;
  margin-bottom: 4px;
}

.navText {
  font-size: 13px;
  font-family: Helvetica;
  font-weight: 600;
  margin-bottom: 0;
}

.navText:hover {
  background-color: rgb(46, 72, 143);
}

#fIcon {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 20%;
}

.a .nav-item .nav-link {
  margin-top: 0;
}

.form-inline {
  height: 22px;
}

#searchField {
  font-size: 14px;
  height: 1.3rem;
  width: 450px;
  margin-top: 12px;
  margin-bottom: 4px;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

#searchSubmit {
  font-size: 14px;
  margin-left: 0;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

.btn-outline-success {
  color: rgb(61, 68, 83);
  background-color: rgb(230, 232, 236);
  height: 1.3rem;
  margin-top: 8px;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#userImg {
  height: 1.1rem;
  margin-right: 8px;
  margin-bottom: 4px;
  border-radius: 50%;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  margin: 0;
  padding-bottom: 0;
  margin-right: 4px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

li .nav-link {
  text-decoration: none;
  display: inline-block;
}

div .col-sm-11 {
  padding-right: 0;
}

div .col-sm-1 {
  padding-left: 0;
}

.navIcon {
  font-size: 20px;
  color: rgb(21, 30, 55);
}

.divider {
  font-size: 16px;
  font-weight: 400;
}

#createInput{
  background-color: white;  
  padding: 0;
  padding-bottom: 8px;
}

#createForm{
  height: 75px;
  border-bottom: 1px solid rgb(230, 232, 236);
}

.userImg{
  height: 2.1rem;
  border-radius: 50%;
  margin-bottom: 45px;
  margin-right: 8px;
  margin-left: -8px;
}

#createTextArea {
  border: none;
  width: 85%;
  margin-top: 10px;
  margin-left: 8px;
  font-size: 15px;
}

#createBtns{
  text-align: left;
  margin-left: 22px;
  margin-top: 8px;
}

.btn-primary{
  font-size: 12px;
  font-weight: 600;
  color: rgb(80, 70, 87);
  background-color: rgb(245, 246, 247);
  border: none;
  border-radius: 8px;
  margin-right: 8px;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 8px;
  padding-right: 12px;
}

.btn-primary:hover{
  color: rgb(80, 70, 87);
  background-color: rgb(235, 237, 240);
}

.createIcon{
  font-size: 22px;
  margin-right: 4px;
  padding-top: 4px;
}

#createIcon1{
  color: green;
  font-size: 26px;
}

#createIcon2{
  color: rgb(77, 180, 248);
}

#createIcon3{
  color: red;
}

#createIcon4{
  padding-left: 7px;
}

h5 {
  text-align: left;
  font-size: 13px;
  background-color: rgb(245, 246, 247);
  padding: 8px 8px;
  border-bottom: 1px solid rgb(230, 232, 236);
  margin: 0;
}

h6 {
  text-align: left;
  font-size: 13px;
  padding: 8px 11px;
  border-bottom: 1px solid rgb(230, 232, 236);
  margin: 0;
}




/* Stories */

#storySeeAll{
  font-size: 12px;
  color: rgb(48, 108, 206);
  float: right;
  margin-right: 4px;
}

#storySeeAll:hover{
  cursor:pointer;
}

#storiesContainer{
  background-color: white;  
  padding: 0;
  margin-top: 13px;
  padding-bottom: 8px;
}

div .storyArea .container .row{
  height: 200px;
  margin-left: 0;
  margin-right: 0;
}

.storyArea{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.storyIcon{
  font-size: 30px;
  margin-top: 8px;
  margin-left: 11px;
  float: left;
  color: rgb(48, 108, 206);
}

.storyName{
  font-size: 14px;
  font-weight: 800;
  color: white;
  float: left;
  margin-top: 175px;
  margin-left: 0px;
}

.story{
  height: 200px;
  width: 22.5%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  border-radius: 8px;
}

.story:hover{
  cursor: pointer;
}

#story1{
  margin-left: 2%;
  background-image: url(https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/78619193_10214884544731469_6401466235757789184_n.jpg?_nc_cat=110&_nc_sid=85a577&_nc_oc=AQl7niJyFK-r6SXOQN1CCO5CO5ke06wTen3LhrWMlscX5JjctNXLMcZ2cQn6l0wS9lWYNWPZUo7BF_Zz5KlrAnbt&_nc_ht=scontent-lax3-1.xx&oh=c8184bba4095524f8efaeed9a059dc60&oe=5EE940F9);
  background-size: cover;
  
}

#story2{
  background-image: url(https://scontent-lax3-1.xx.fbcdn.net/v/t31.0-8/p960x960/24955483_10155517354778937_6736181428637666363_o.jpg?_nc_cat=103&_nc_sid=85a577&_nc_oc=AQk-jLMsAV3hR8QaRnbwDKd9FxBjIZ6bUXZ9Dw_e-YiL9pExSftQBCPQgtpqgAtA7xZt6-YO7r0m_1_7Of4EtNEc&_nc_ht=scontent-lax3-1.xx&_nc_tp=6&oh=63891d95cf7be5c648c268c973b84024&oe=5EB8FCD7);
  background-size: cover;
}

#story3{
  background-image: url(https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-0/p640x640/83825462_10216465065438967_3345083399579631616_o.jpg?_nc_cat=106&_nc_sid=85a577&_nc_oc=AQkL3jVKPqOsGf0U2zT_NehMSQlZNt1ksH5Vmneo9Z6ajHPoJ1gzhi9WXjRp0f6cuIESzrPQmiLDfKETWPLfEeAP&_nc_ht=scontent-lax3-2.xx&_nc_tp=6&oh=4c97331b3fd5c8df390bb7904c0a83e9&oe=5EFB68D1);
  background-size: cover;
}

#story4{
  margin-right: 2%;
  background-image: url(https://scontent-lax3-2.xx.fbcdn.net/v/t31.0-0/p640x640/14753867_10207771873602543_3251370308809988107_o.jpg?_nc_cat=106&_nc_sid=7aed08&_nc_oc=AQmy_AXLAf9yWLq6C5fTenqM4poF4T0-rAooh_Zqbakz4e4naGIezRTRkO8eakvR9jhWhPe21yl4MHTfOYPwz0Wt&_nc_ht=scontent-lax3-2.xx&_nc_tp=6&oh=a73fb7b8b001efbc0e3ee95a8e5f3372&oe=5EBC3B79);
  background-size: cover;
}



/* Posts - News Feed */

.postContainer{
  background-color: white;  
  text-align: left;
  padding: 0;
  margin-top: 13px;
  padding-top: 8px;
  padding-bottom: 4px;
  margin-bottom: 13px;
}

.postUserImg{
  height: 2.1rem;
  width: 2.1rem;
  border-radius: 50%;
  margin-bottom: 18px;
  margin-right: 4px;
  margin-left: 15px;
}

.postUserImg:hover{
  cursor: pointer;
}

.postInfo{
  display: inline-block;
  line-height: .2;
}

.postUser{
  font-size: 14px;
  color: rgb(56, 88, 162);
  border: none;
  line-height: .7;
}

.postUser:hover{
  text-decoration: underline;
  cursor: pointer;
}

.postTime{
  font-size: 12px;
  display: block;
  margin-left: 12px;
}

.postText{
  margin-top: -8px;
  margin-left: 13px;
  margin-bottom: 8px;
}

.postImg{
  width: 100%;
  margin: 0;
}

#postContainer2{
  padding: 0;
}

.postBtn{
  width: 33.333%;
  background: transparent;
  color: inherit;
  border: none;
  font-size: 14px;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 0;
}

.postBtn:hover{
  color: rgb(80, 70, 87);
  background-color: rgb(235, 237, 240);
}

.postLikes{
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
}

.postStatus{
  float: right;
  font-weight: 400;
  cursor: pointer;
}



/* SideBar1 */

.sideBar1{
  position: fixed;
  width: 15%;
  text-align: left;
  font-size: 13px;
  padding: 0;
}

#sideBarSelections{
  padding-left: 4px;
}

.sideBar1 .sideMenu, .sideMenu2{
  list-style-type: none;
  padding: 0;
}

.sideBar1 ul li {
  margin-left: none;
  margin-right: 9px;
}

.sideBar1 ul li:hover{
  cursor: pointer;
  background-color: rgb(245, 246, 247);
}

#sideUserImg{
  height: 1rem;
  margin-left: 13px;
  margin-right: 4px;
  margin-bottom: 4px;
}

#sideUser{
  font-size: 13px;
  margin-bottom: 9px;
}

.sideLabel{
  padding: 0;
  background-color: transparent;
  padding-left: 8px;
  padding-bottom: 2px;
  font-weight: 600;
}

.sideActive{
  font-weight: 700;
  background-color: rgb(245, 246, 247);
  padding: 1px 4px;
  margin-right: 14px;
}

.sideOption{
  display: flex;
  align-items: center;
  padding: 2px 8px;
}

#side1SeeMore{
  color:rgb(59, 91, 154);
}

#side1SeeMore:hover{
  background-color: transparent;
  text-decoration: underline;
}

.sideIcon{
  margin-right: 6px;
}

#sideIcon1{
  color: rgb(56, 132, 255);
  font-size: 19px;
}

#sideIcon2{
  color: rgb(17, 127, 255);
  font-size: 21px;
}

#sideIcon3{
  color: rgb(56, 132, 255);
  font-size: 23px;
  margin-right: 8px;
}

#sideIcon4{
  color: rgb(56, 162, 141);
  font-size: 18px;
  margin-left: -1px;
}

.sideIcon5{
  font-size: 16px;
  margin-right: 8px;
}

#sideIcon6{
  color: rgb(17, 127, 255);
  margin-right: 6px;
}

#sideIcon7{
  color: rgb(242, 122, 43);
  font-size: 18px;
  margin-right: 8px;
}

#sideIcon8{
  color: rgb(140, 9, 47);
  font-size: 19px;
  margin-left:  1px;
  margin-right: 8px;
}

#sideIcon9{
  color: rgb(223, 171, 63);
  font-size: 17px;
  margin-right: 9px;
}

#sideIcon10{
  color: rgb(96, 74, 158);
  font-size: 18px;
  margin-left: 2px;
  margin-right: 10px;
}

#sideIcon11{
  font-size: 14px;
  margin-left: 4px;
  margin-right: 12px;
}

/* Contacts */

#contactsScroll{
  height: 95%;
  position: fixed;
  top: 42px;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  width: 16.6666%;
  margin-bottom: 15px;
  border-left: 1px solid rgba(0, 0, 0, .1);
}

#sideBar3{
  margin-top: -25px;
  padding-top: 25px;
  padding-left: 0;
}

.contactSidebar{
  padding-left: 0;
}

.contact:hover{
  cursor: pointer;
}

.contact:hover #contactLeft, .contact:hover {
  background-color: rgb(221, 223, 226);
}

#s3Label{
  font-size: 11px;
  font-weight: 600;
  padding-left: 4px;
}

.contact{
  text-align: left;
}

#contactLeft{
  float: left;
  width: 95%;
}

.contactImg{
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  margin-left: 6px;
}

.contactName{
  font-size: 12px;
  margin-left: 4px;
}

.contactOnline{
  float: right;
  height: 100%;
  width: 5%;
  font-size: 6px;
  padding-top: 15px;
  padding-left: 8px;
  color: rgb(66, 183, 42);
}

/* Sidebar 2 */

.col-sm-3{
  padding-left: 0;
}

.sideBar2{
  width: 325px;
  text-align: left;
  font-size: 13px;
  padding: 0;
  margin: 0;
  margin-left: -2px;
  margin-bottom: 200px;
}

.yourPageContainer{
  padding: 0;
  background-color: white;
  margin-bottom: 13px;
}

#yourPageContainer2{
  margin-top: 0;
  padding: 0;
  padding-bottom: 12px;
  display: flex;
  border-bottom: 1.5px solid rgba(0, 0, 0, .1);
}

#yourPageTitle{
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: -2px;
  border-bottom: 1.5px solid rgba(0, 0, 0, .1);
}

#yourPageLabel{
  margin: 0;
  padding-top: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 13px;
  font-weight: 600;
  background-color: white;
  color: rgba(0, 0, 0, .5);
  border: none;
}

#yourPageEllipsis{
  background-color: white;
  cursor: pointer;
  color: rgba(0, 0, 0, .3);
  padding-bottom: 4px;
  border: none;
}

#ypIcon1{
  font-size: 16px;
  margin-bottom: 4px;
}

.yourPageUserImg{
  height: 3rem;
  width: 3rem;
  margin: 11px 4px 12px 12px;
  display: inline-block;
}

.hoverPointer{
  cursor: pointer;
}



.yourPageUser{
  padding-bottom: 4px;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(56, 88, 162);
  border: none;
}

.yourPageUser:hover{
  text-decoration: underline;
}

.yourPageSubText{
  padding-top: 3px;
  margin-left: 11px;
  margin-bottom: 5px;
  font-size: 13.5px;
  color: rgb(97, 104, 136);
}

.yourPageInteractions{
  width: 95%;
  margin: auto;
  border-bottom: 1.5px solid rgba(0, 0, 0, .1);
}

.yourPageIcon{
  font-size: 17px;
  margin-right: 2px;
  color: rgba(33, 37, 41, .75);
}

.yourPageBtn{
  width: 25%;
  background: transparent;
  color: rgb(97, 104, 136);
  border: none;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 2px;
}

.yourPageBtn:hover{
  color: rgb(80, 70, 87);
  background-color: white;
}

.ypBtnIcon{
  display: block;
  margin: auto;
  margin-bottom: 4px;
  font-size: 16px;
}

.yourPageBtns{
  width: 96%;
  margin: auto;
  text-align: center;
}

.yourPageBtn2{
  margin: 10px 0;
  padding-top: 8px;
  font-weight: 400;
  font-size: 12px;
  width: 33.333%;
  border-radius: 3px;
  background-color: white;
  border: .5px solid rgb(220, 222, 225);
}

.ypBtn2Selected{
  background-color: rgb(220, 222, 225);
  font-weight: 600;
}

h4{
  font-size: 22px;
  margin-top: -4px;
  margin-bottom: 4px;
}

.yourPageText{
  width: 95%;
  text-align: center;
  padding-bottom: 0px;
  border-bottom: 1.5px solid rgba(0, 0, 0, .1);
}

#ypInfoText{
  font-size: 12px;
  margin-bottom: 12px;
}

.createPromoBox{
  width: 95%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: -3px;
}

#promoBtn{
  width: 85%;
  height: 30px;
  padding: 0;
  background-color: rgb(245, 246, 247);
  font-weight: 600;
}

.promoBtns:hover{
  border: .5px solid rgb(220, 222, 225);
  background-color: rgb(235, 237, 240);
}

#ypBtnIcon1{
  font-size: 15px;
  padding-right: 3px;
}

#promoBtn2{
  width: 10%;
  height: 30px;
  background-color: rgb(245, 246, 247);
}

.ypBtnIcon2{
  font-size: 18px;
  margin-top: -8px;
  margin-bottom: 2px;
  margin-left: 1px;
}

/* Recently Viewed */

#rvBox{
  background-color: white;
  padding: 0;
  padding-top: 3px;
  margin-bottom: 13px;
}

#rvLabel{
  background-color: transparent;
  padding-left: 12px;
  padding-bottom: 6px;
  border: 0;
}

#rvIcon1{
  font-size: 14px;
  margin-right: 4px;
  color: rgba(0, 0, 0, .6);
}

.rvImagesBox{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
  margin-top: 0;
  margin-left: 2px;
  z-index: -2;
}
.rvImage{
  display: inline-block;
  width: 7rem;
  height: 6.5rem;
  margin-top: 5px;
  margin-right: 8px;
  border-radius: 4px;
}

.rvImgText{
  font-size: 13px;
  font-weight: 800;
  color: white;
  margin-top: -24px;
  margin-left: 12px;
}

#rvSeeMore{
  padding-top: 0;
  padding-bottom: 14px;
  margin-left: 8px;
  color: rgb(56, 88, 162);
}

#rvSeeMore:hover{
  text-decoration: underline;
}



/* Advertisement */

#adBox{
  margin-bottom: 15px;
  background-color: white;
  padding: 0;
  padding-top: 3px;
}

#adBox2{
  margin: 0;
}

#adLabel{
  display: inline-block;
  background-color: transparent;
  border: 0;
  margin-bottom: 5px;
}

#adCreateAd{
  font-size: 13px;
  display: inline-block;
  margin-left: 0;
  color: rgb(56, 88, 162);
  border: none;
}

#adCreateAd:hover{
  text-decoration: underline;
}

#adImg{
  width: 95%;
  margin: auto;
}

#adTitle{
  font-size: 14px;
  font-weight: 600;
  color: rgb(56, 88, 162);
  display: block;
  border: none;
  margin-top: 4px;
  padding-bottom: 2px;
}

#adTitle:hover{
  text-decoration: underline;
}

#adText{
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
}

